.login-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: auto;
}

.vtb-logo {
  width: 192px;
  margin-bottom: 2rem;
}

.title-target{
  color: #0A2973;
  font-size: 1.1rem;
  font-weight: bold;

}

.p-float-label {
  margin-top: 1rem ;
  margin-right: 0.5rem;
}

.reg-buttons {
  display: block;
  margin-top: 1rem;
}

form{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}
//input{
//  margin: 1rem 0 0 0;
//}

:host ::ng-deep .p-button {
  width: 100%;
}

:host ::ng-deep .p-buttonset {
.p-button {
  width: 100%;
}
}

